<nav class="navbar py-0 navbar-expand-sm bg-dark navbar-dark">

    <!-- Brand Logo -->
    <a class="navbar-brand" href="#">Logo</a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/home">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
          <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Welcome, <%= user %>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
      
      </ul>
</nav>

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div id="dashboard-text">
            <h1>Dashboard <small>Manager Your Site</small></h1>
        </div>
        
      </div>
      <div class="col-md-2">
          <div class="dropdown create">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create Content
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Manager</a>
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>          
      </div>
    </div>
  </div>
</header>



<!--Body section-->
  <section id="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="active">Dashboard</li>
      </ol>  
    </div>
  </section>

  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                  Dashboard
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
        </div>
        </div>

        <div class="col-md-9">
            
      </div>  
    </div>
  </section>
<!--Body Section End-->

<link rel="stylesheet" href="/style/admin.css">
