body{
    background-image: url("/assets/img/bg3.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    background: #333333;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding: 20px;
}

#header #dashboard-text{
    padding: 10px;
}

.navbar{
    background-color: rebeccapurple;
  }
  
  
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: white;
  background-color: rgb(63, 12, 114);
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus
{
    background-color: white;
    color: black;
}


  .navbar-brand{
    padding-top: 0;
  }

  

.breadcrumb{
    background: #cccccc;
    color: #333333;
}

.breadcrumb a{
    color: #333333;
}

.main-bg-color{
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    color: white !important;
}

.progress-bar{
    background: rebeccapurple;
    color: #ffffff;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
}

#panel{
    margin-top: 0;
}

.panel-box,.panel-text{
    text-align: center;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: white;
    background-color: rebeccapurple;
    
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: rebeccapurple;
}

.graph{
    text-align: center;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px  
}

#card-progress{
    padding-top: 15px;
    padding-bottom: 20px;
}

.tr-hover{
cursor: pointer;
}

.card-header{
    color: white;
    background: rebeccapurple;
}

.table-hover {
    border: 1px solid #33333330;
}

.list-group-item{
    opacity: .95;
}

.card{
    opacity: .95;
}

.list-group > a > li.active{
    background-color: rebeccapurple;
    border: rebeccapurple;
}

.list-group > a > li.active{
    color: white;
    text-decoration: none;
}
.list-group > a{
    color: black;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}