#header{
    background: #333333;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding: 20px;
}

#header #dashboard-text{
    padding: 10px;
}

.breadcrumb{
    background: #cccccc;
    color: #333333;
}

.breadcrumb a{
    color: #333333;
}
