

            
<!--Body section-->
<div style="background: #800080;" >
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/seller/home">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/seller/itemList">Item List</a></li>
                <li class="breadcrumb-item"><a href="#">Order Status</a></li>
        </ol>  
    </div>
</section>

<div id="header" style="background: #333333;color: white;padding: 10px;margin-bottom: 15px;" >
    <div class="container">
      <div class="row">
        <div class="col-md-10">
  
          <div id="dashboard-text">
              <h1> <span><i class="fas fa-list-alt"></i></span> Invoice <small class="text-secondary">BIN: 007286837 </small></h1>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="card-body">
        <div class="col-md-8 mx-auto">

            <form class="card-body" method="POST">
                    <div class="form-group">
                            <label for="name">Customer Name</label>
                            <input type="text" class="form-control" name="username">
                        </div>  
                        <div class="form-group">
                            <label for="name">Contact</label>
                            <input type="number" class="form-control" name="contact" >
                        </div>              
                        <div class="form-group">
                            <label for="customerToken">Token Number</label>
                            <input type="text" class="form-control" name="token">
                        </div>
                        <div class="form-group">
                            <label  for="outlet">Ticket Number</label>
                            <input type="text" class="form-control" name="ticket" id="ticket">    
                        </div>

                        <div class="form-group">
                            <table border="1px" align="center">
                                <thead>
                                    <tr>
                                        <th>Food Code</th>
                                        <th>Food Name</th>
                                        <th>Price</th>
                                        <th><button type="button" name="addMore" id="addMore" class="btn btn-success btn_add"><b>ADD Items</b></button></th>
                                    </tr>
                                </thead>
                                <tbody  id="orders">
                                    <tr></tr>
                                </tbody>
                            </table>

                            <div class="form-group" style="background: cadetblue;font-family:Arial;font-size: 150%;font-weight: bold; margin-top: 5px;" >
                                <label>Total : </label>
                                <label id="result"  for="sum">0000</label>
                                <input type="button" value="View Total" class="btn btn-info btn-lg"  id="total">   
                            </div>

                        </div>

                        
                
                <button type="submit" class="btn btn-success">Print</button>

            </form>
        </div>  
    </div>
</div>
           
<!--Body Section End-->
<script>
$(document).ready(function(){
    var i = 1 ;
    var sum= 0 ;
    var d = new Date();
    var e = Math.random();
    var f = 0 ;
    var g = 0;
    var h = 0;
    var m = 0;
    $('#ticket').val(d + e);

    $('#addMore').on('click',function(){
        i++;
        $('#orders').append('<tr id="orderedItems'+i+'" ><td class="f_code"><input type="text" id="food_code" name="'+i+'"></td><td class="f_name">Burger</td><td> <input type="text" class="cost" id="cost'+i+'" name="cost"> </td><td><button type="button" id="'+i+'" class="btn btn-danger btn_remove"><b>Remove</b></button></td></tr>');
    });

    $('#total').on('click',function(){
        
        $('.cost').each(function(){
            sum += Number($(this).val());
        });
        $("#result").css("background-color", "yellow");
        $('#result').text(sum);
    });

    $(document).on('click','.btn_remove',function(){
    var btn_rmv=$(this).attr("id");
    var h = $('#cost'+btn_rmv+'').val();
    
    //alert(w);
    $('#orderedItems'+btn_rmv+'').remove();
    
    var m = parseFloat(sum)-parseFloat(h);
    
    $('#result').text(m);
    });

    $(document).on('keyup','#food_code',function(e){
        var f =$(this).val();
        var w =$(this).attr("name");
        //alert(w);
        //var f = $('#food_code').val();
        //var j= $(e.currentTarget).text();
        console.log(f);
                     $.ajax({

                    url: `/seller/invoice/searchAjax/${f}`, 

                    success: (f_cost) => {
                        console.log(f_cost);
                        var html = '';
                        
                        if(f_cost != null)
                        {
                            var g = f_cost[0].itemCost;
                            $('#cost'+w+'').val(g)
                        
                        }
                    }
                    });
    });
});
</script>