<link rel="stylesheet" href="/style/login.css">

<div class="login">
  <h1>Login</h1>
  <form method="post">
      <input type="text" name="uname" placeholder="Username" required="required" />
      <input type="password" name="pass" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
  </form>
</div>

<script src=""></script>

