<%- contentFor('header') %>

<!--Body section-->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/booking">Booking</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>
</section>

<%- contentFor('selection') %>
<div class="card main" id="panel">
    <div class="card-header main-bg-color">
        Create Booking
    </div>
    <div class="card-body">
        <div class="col-md-9 mx-auto">

            <form class="card card-body" method="POST">


                <div class="form-group mb-3">
                    <label for="outlet">Outlet</label>
                    <select class="custom-select" name="outlet">
                        <% for(var i=0; i < outList.length; i++) {%>
                        <option value="<%= outList[i].outlet_ID %>"> <%= outList[i].name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="table">Table No.</label>
                    <input type="text" class="form-control" name="table">
                </div>
                <div class="form-group">
                    <label for="contact">Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" id="toggle" class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                        <input type="text" id="dateTimePicker" name="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="booked_by">Booked By</label>
                    <input type="text" class="form-control" name="booked_by">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" name="contact">
                </div>

                
                <div class="md-col-4 mx-auto">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Body Section End-->
<script>
    $('#dateTimePicker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
    })
    $("#toggle").on('click', function () {
        $('#dateTimePicker').datetimepicker('toggle');
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>