<%- contentFor('header') %>

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventory</li>
        </ol>
    </div>
</section>

<%- contentFor('selection') %>
<!-- col-md-9 -->
<div class="card" id="panel">
    <div class="card-header">
        Product List
    </div>

    <div class="card-body">
        <div class="card card-body">
            <div class="col">
                <div class="col-md-4 pt-4 mx-auto">
                    <select class="custom-select dropDown" id="outlet_id">
                        <% for(var i = 0; i < outList.length; i++) {%>
                        <option value="<%= outList[i].outlet_ID %>"> <%= outList[i].name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-12 p-3 ">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="container">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search By Name"
                                        id="getInventoryList">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <select class="custom-select dropDown" id="time_id">
                                <option value="30">Month</option>
                                <option value="7">Week</option>
                                <option value="0">Today</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive-md">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody id="ajaxTable">

                                <!-- Employee List shown here -->

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Body Section End-->

<script>
    $(document).ready(() => {
        getInventoryList('*');

        $('#ajaxTable').on('click', 'tr', (event) => {

            var id = $(event.currentTarget).attr("id");
            if (id != null) {
                window.location.href = `/admin/outlet/info/${id}`;
            }
        });

        $(".dropDown").change((event) => {
            var key = $("#getInventoryList").text();
            if (key == '')
                key = '*'
            //console.log(key);
            getInventoryList(key);
        });

        $("#getInventoryList").keyup((event) => {
            var key = $(event.currentTarget).val();
            if (key == '')
                key = '*'
            getInventoryList(key);
        });

    });

    function getInventoryList(key) {
        var outlet = $('#outlet_id').val();
        var time = $('#time_id').val();

        $.ajax({
            url: `/admin/inventory/getInventoryList/${outlet}/${time}/${key}`,

            success: (InventoryList) => {
                //console.log(InventoryList);
                var html = '';

                if (InventoryList != null) {
                    for (var i = 0; i < InventoryList.length; i++) {

                        html += `<tr class="tr-hover" id="${InventoryList[i].id}" >`;
                        html += `<th scope="row"> ${InventoryList[i].id} </t>`;
                        html += `<td> ${InventoryList[i].product_name} </td>`
                        html += `<td> ${InventoryList[i].product_type} </td>`
                        html += `<td> ${InventoryList[i].total} </td>`
                        html += `<td> ${InventoryList[i].date} </td>`
                        html += '</tr>';
                    }
                    $('#ajaxTable').html(html);
                }
            }
        });
    }
</script>