
<%- contentFor('header') %>

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>  
    </div>
</section>
  
<%- contentFor('selection') %>
<!-- col-md-9 --> 
<div class="card" id="panel">
    <div class="card-header">
        Employee List
    </div>
    
    <div class="card-body">
        <div class="card card-body">
            <div class="col-md-9 p-3 mx-auto">
                <div class="container">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Name" id="searchBox" >        
                    </div>
                </div>
            </div>
                
            <div class="card-body">
                <div class="table-responsive-md">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Contact</th>
                            </tr>
                        </thead>
                        <tbody id="ajaxTable">
        
                            <!-- Employee List shown here -->
        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
            
<!--Body Section End-->

<script>

$(document).ready(() => {
    searchBox('*');
    $("#searchBox").keyup((event) => {
        var key = $(event.currentTarget).val();
        if (key == '')
            key = '*'
        searchBox(key);
    });

    $('#ajaxTable').on('click','tr', (event) => {
        
        var id = $(event.currentTarget).attr("id");
        if(id != null)
        {
            window.location.href= `/admin/employee/info/${id}`;
        }
    });

});

function searchBox(key)
{
    $.ajax({

        url: `/admin/employee/searchAjax/${key}`, 
        
        success: (empList) => {
            console.log(empList);
            var html = '';
            
            if(empList != null)
            {
                for (var i = 0; i< empList.length; i++) {

                    html += `<tr class="tr-hover" id="${empList[i].emp_ID}" >`;
                    html += `<th scope="row"> ${empList[i].emp_ID} </t>`;
                    html += `<td> ${empList[i].name} </td>`
                    html += `<td> ${empList[i].rank} </td>`
                    html += `<td> ${empList[i].contact} </td>`
                    html += '</tr>';
                }
                $('#ajaxTable').html(html);
            }
        }
    });
}

</script>

